{% extends 'base.html.twig' %}

{% block title %}{{ coder.name }}{% endblock %}

{% block body %}
<div class="wrapper">
    <h1><a href="/coder">Разработчики</a> - {{ coder.name }}</h1>

    {{ form(form) }}
</div>
{% endblock %}
