{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Добро пожаловать!</h1>

    <p><a href="/coder">Разработчики</a></p>
    <p><a href="/project">Проекты</a></p>
    <p><a href="/stats">Статистика</a></p>
</div>
{% endblock %}
