{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="wrapper">
    <h1>Добро пожаловать!</h1>

    <p><a href="/coder">Разработчики</a></p>
    <p><a href="/project">Проекты</a></p>
    <p><a href="/stats">Статистика</a></p>
</div>
{% endblock %}
