{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="wrapper">
    {% include "menu.html.twig" with {'current': 'home'} %}
    <h1>Добро пожаловать!</h1>
</div>
{% endblock %}
