{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="wrapper">
    {% include "menu.html.twig" with {'current': 'stats'} %}
    <h1>Статистика</h1>

    <p>Всего проектов: {{ projects_count }}</p>
    <p>Всего разработчиков: {{ coders_count }}</p>
    <p>Средний возраст сотрудников: {{ average_age|number_format(1) }} лет</p>
</div>
{% endblock %}
