{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
<div class="wrapper">
    <h1><a href="/project">Проекты</a> - {{ project.name }}</h1>

    {{ form(form) }}
</div>
{% endblock %}
