{% extends 'base.html.twig' %}

{% block title %}Добавить проект{% endblock %}

{% block body %}
<div class="wrapper">
    <h1><a href="/project">Проекты</a> - Добавить</h1>

    {{ form(form) }}
</div>
{% endblock %}
